@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');

:root{
    --bg: #1C1C1E;
    --form: #2E2E2E;
    --orange: #FF9F46;
    --white: #fff;
}

header{
    background-image: url(../img/bg_small.png);
    background-size: no-repeat;
    background-position: center center;
    background-size: cover;
}
.name{
    font-family: 'Stalinist One';
    margin-top: 30%;
    padding-bottom: 3%;
}
.name h3{
    font-size: 5vw;
}
h3{
    font-size: 3vw;
}
.hello{

    padding-top: 3%;
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    font-weight: bold;
}
.line a{
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
}
.line,.click{
    padding-top: 2%;
    font-size: 3vw;
    background-color: var(--orange);
    padding-bottom: 1%;
    border-radius: 2%;
}
p, .click{
    font-size: 3vw;
}

main{
    padding-top: 3%;
    background-color: var(--form);
}
.header{
    font-family: 'Bebas Neue';
    text-transform: uppercase;

    margin-left: 2vw;
    margin-bottom: 1vw;
}

.circle{
    font-size: 3vw;
    border: 0.2vw solid var(--white);
    border-radius: 50%;
    position: absolute;
    padding: 1vw 2.1vw;
    display: inline-block;
    text-align: center;
    margin-left: 4%;

}
.text-about{
    font-size: 2vw;
    text-align: justify;
}
.click a{
    text-decoration: none;
    color: var(--white);
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    
}
.click{
    margin: 10% 20%;
}
.main-text{
    margin-right: 3vw;
}
.itd-text{
    font-size: 5vw;
}
span{
    color: var(--orange);
}
